.sidebarContainer {
    @apply border-2
    bg-[#fff]
    transition-all
    flex
    flex-col
    justify-between
    fixed
    top-[80px]
    bottom-0
    left-0
    h-screen
    z-10
}

.navLinks {
    @apply flex flex-col;

    margin: 30px 10px 0;
    color: #222;

    a {
        transition: background-color .1s ease-in-out;
        padding: 12px;
        border-radius: 6px;
    }

    span {
        color: #009c9c;
    }

    a:global.active {
        background-color: #009c9c;
        color: white;
        transition: background-color .2s ease-in-out;

        span {
            color: white;
        }
    }

    a:global.active:hover {
        background-color: #009c9c;
        color: white;
    }

    a:hover {
        background-color: #009c9c27;
        color: black;
    }
}
