.cardContainer {
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15px;
    border: 2px solid #f4f5f6;
    border-radius: 10px;
    transition: 0.5s;
    box-shadow: 0 5px 10px 0 rgb(23 23 23 / 19%);

    position: relative;

    &:hover {
        transform: scale(1.02);
    }

    h1 {
        font-size: 20px;
        font-weight: 700;
        padding: 20px 0 20px;
    }

    .description {
        color: #666;
        font-size: 14px;
    }

    .bookmark {
        font-size: 26px;
        position: absolute;
        top: 14px;
        right: 10px;
        cursor: pointer;
    }
}
